
.welcome-container{
    position: relative;
    background: red;
}

.welcome-banner{
    position: absolute;
     top: 20px;
      left: 50%;
       transform: translate(-50%, -50%);
        text-align: center; 
        z-index: 10;
}

.welcome-btn-label{
    color: white;
}