.landing-container{
    height: 89vh;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../assets/bg/home.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}