.home-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: white;
    gap: 5px;
}

.home-row-1-2-col-1{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.home-row-1-col-2-column{
    border: 2px solid purple;
        flex: 2;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

.row-1-col-2-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 10px;
}

.home-col-2-row-1-col-1{
    border: 2px solid green;
        flex: 1;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
}
.home-col-2-row-1-col-2{
        flex: 2;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
}

.home-col-2-row-1-col-1-2{
    border: 2px solid pink;
        flex: 2;
        height: 70%;
        border-radius: 20px;
        
}

.home-col-2-row-1-col-2-2{
    border: 2px solid green;
        flex: 1;
        height: 70%;
}

.left-most{
    height: 80%;
    width: 80%;
    border-radius: 20px;
        box-shadow: 0 7px 20px 5px #00000088;
        border-radius: .7rem;
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
        overflow: hidden;
        transition: .5s all;
        display: flex;
        align-items: center;
        justify-content: center;

        ::before {
                position: fixed;
                content: "";
                box-shadow: 0 0 100px 40px #ffffff08;
                top: -10%;
                left: -100%;
                transform: rotate(-45deg);
                height: 60rem;
                transition: .7s all;
            }
        
            &:hover {
                border: 1px solid #ffffff44;
                box-shadow: 0 7px 50px 10px #000000aa;
                transform: scale(1.015);
                /* filter: brightness(1.3); */
        
                ::before {
                    filter: brightness(.5);
                    top: -100%;
                    left: 200%;
                }
            }

}

.hero-logo{
    width: 100%;
    height: auto;
}

.top-right{
    height: 80%;
        width:80%;
        border-radius: 20px;
        box-shadow: 0 7px 20px 5px #00000088;
        border-radius: .7rem;
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
        overflow: hidden;
        transition: .5s all;
        display: flex;
        align-items: center;
        justify-content: center;
    
        ::before {
            position: fixed;
            content: "";
            box-shadow: 0 0 100px 40px #ffffff08;
            top: -10%;
            left: -100%;
            transform: rotate(-45deg);
            height: 60rem;
            transition: .7s all;
        }
    
        &:hover {
            border: 1px solid #ffffff44;
            box-shadow: 0 7px 50px 10px #000000aa;
            transform: scale(1.015);
            /* filter: brightness(1.3); */
    
            ::before {
                filter: brightness(.5);
                top: -100%;
                left: 200%;
            }
        }
}

.company-name {
    font-size: 6em;
    /* Set the background-clip property to text */
    background: linear-gradient(90deg, hsla(297, 59%, 34%, 1) 0%, hsla(22, 89%, 37%, 1) 0%, hsla(22, 62%, 33%, 1) 100%);
    -webkit-background-clip: text;
    filter: brightness(1.5);
    /* For Safari */
    background-clip: text;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: transparent;
    /* Hide the original text color */
    font-family: "Aref Ruqaa", serif;
    font-weight: 700;
}