.home-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: white;
}

.home-row-1-2-col-1{
    border: 2px solid red;
    flex: 1;
    height: 100%;
}

.home-row-1-col-2-column{
    border: 2px solid purple;
        flex: 2;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

.row-1-col-2-row{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.home-col-2-row-1-col-1{
    border: 2px solid green;
        flex: 1;
        height: 100%;
}
.home-col-2-row-1-col-2{
    border: 2px solid pink;
        flex: 2;
        height: 100%;
}

.home-col-2-row-1-col-1-2{
    border: 2px solid pink;
        flex: 2;
        height: 100%;
}

.home-col-2-row-1-col-2-2{
    border: 2px solid green;
        flex: 1;
        height: 100%;
}