@font-face {

    font-family: 'Byzantheum';
    font-style: normal;
    src: local('Byzantheum'), url('./assets/fonts/Byzantheum/Bizantheum.otf') format('otf');
}

*{
    padding: 0px;
    margin: 0px;
}

.app-container {
    
    height: 100vh;
    background: url('./assets/bg/home.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}