@font-face {

    font-family: 'Byzantheum';
    font-style: normal;
    src: local('Byzantheum'), url('./assets/fonts/Byzantheum/Bizantheum.otf') format('otf');
}

*{
    padding: 0px;
    margin: 0px;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root{
    background: transparent;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    background: transparent;
    box-shadow: none;
}